/* Overrirde Bulma */
html
{
    overflow-x: initial;
    overflow-y: initial;
    background-color: #f9f8fc;
}

pre
{
    border: 1px solid rgba(71, 66, 89, .15);
    border-left-width: 9px;
    border-radius: 0;
}
pre code
{
    font-size: 15px !important;
}
strong
{
    font-weight: 500;
}
code .tag
{
    background-color: transparent;
}
blockquote
{
    padding-left: 1rem;
    border-left: 2px solid #9389e1;
    color: #84848f;
}

.is-hidden
{
    display: none;
}

.is-sticky
{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5rem;
}

.app-nav
{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 1.75rem 2.5rem;
    text-align: left;
    background-color: #302D3D;
    transition: padding 0.2s ease-out;
}
.app-nav.shadowed
{
    box-shadow: 0 2px 4px rgba(48, 45, 61, 0.4);
    padding: 0.875rem 2.5rem 1rem;
}
.app-nav > div
{
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1100px;
    font-weight: 500;
}
.docsify-logo > img
{
    float: left;
    width: 150px;
    height: 27px;
    margin-right: 1.5rem;
}
.app-nav a
{
    color: #8B85A0;
    position: relative;
}
.app-nav a.active,
.app-nav a:hover
{
    color: white;
    border: none;
}
.app-nav a.active:after {
    position: absolute;
    right: 35%;
    bottom: -37px;
    left: 35%;
    height: 2px;
    border-radius: 5px;
    background-color: #9d8cdb;
    content: "";
}
.app-nav.shadowed a.active:after {
    display: none;
}  

aside,
.sidebar-toggle
{
    display: none !important;
}
footer
{
    border-top: 1px solid #EDECF0;
    letter-spacing: .2px;
    line-height: 1.5em;
    padding: 2rem;
}
footer > div
{
    max-width: 1050px;
    margin: 0 auto !important;
}
footer svg
{
    width: 2.5em !important;
    height: 2.5em;
}
footer svg:hover
{
    opacity: 0.8;
    transition: opacity .1s linear;
}
section.content
{
    left: 0;
    padding: 0;
}

.markdown-section
{
    max-width: none;
    padding: 0;
}
.wrapper
{
    max-width: 1100px;
    padding: 9.5rem 1.5rem 4rem;
    margin: 0 auto;
}

.markdown-section > *
{
    font-size: initial;
}

.markdown-section p.tip
{
    padding: .75rem 1.6rem;
    border-color: #F89465;
    background-color: rgba(248, 148, 101, 0.15);
}
.markdown-section p.tip::before
{
    font-family: Averta, sans-serif;
    position: absolute;
    top: 1em;
    left: -.85em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 2em;
    background-color: white;
    box-shadow: inset 0 0 0 2px #F89465;
    color: #F89465;
    content: '!';
    text-align: center;
    line-height: 1.5em;
    font-weight: 900;
    font-size: 1em;
}
.markdown-section p.warn
{
    position: relative;
    padding: 1rem 1.6rem;
    border-left: 4px solid #78c0e0;
    background-color: rgba(201, 230, 243, .3);
}
.markdown-section p.warn::before
{
    position: absolute;
    top: 1em;
    left: -.85em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 2em;
    background-color: white;
    box-shadow: inset 0 0 0 2px #78c0e0;
    color: #78c0e0;
    content: 'i';
    text-align: center;
    font-weight: 700;
    font-size: 1em;
}
.markdown-section table
{
    display: table;
}
.markdown-section table th,
.markdown-section table tr,
.markdown-section table tr td
{
    border: none;
}
.markdown-section table th,
.markdown-section table tr td
{
    border-bottom: 1px solid #EDECF0;
    padding: 0.5rem;
}
.markdown-section table th
{
    font-weight: 600;
    border-bottom-width: 0;
    background-color: #F3F2F6;
}
.markdown-section table th:first-child
{
    border-radius: 0.5em 0 0 0.5em;
}
.markdown-section table th:last-child
{
    border-radius: 0 0.5em 0.5em 0;
}
.markdown-section tr:nth-child(2n)
{
    background-color: transparent;
}
i + code
{
    color: #EF626C;
}

img.no-zoom
{
    pointer-events: none;
}

.hover-to-black
{
    transition: color .15s linear;
}
.hover-to-black:hover
{
    color: #403d4b !important;
}

/* Code Highlighting */
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog
{
    color: #8e908c;
}

.token.namespace
{
    opacity: .7;
}

.token.boolean,
.token.number
{
    color: #c76b29;
}

.token.punctuation
{
    color: #525252;
}

.token.property
{
    color: #c08b30;
}

.token.tag
{
    padding: 0 0.5em;
    color: #2973b7;
}

.token.string
{
    color: #42b983;
    color: var(--theme-color, #42b983);
}

.token.selector
{
    color: #6679cc;
}

.token.attr-name
{
    color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url
{
    color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit
{
    color: #42b983;
    color: var(--theme-color, #42b983);
}

.token.keyword
{
    color: #e96900;
}

.token.atrule,
.token.regex,
.token.statement
{
    color: #22a2c9;
}

.token.placeholder,
.token.variable
{
    color: #3d8fd1;
}

.token.deleted
{
    text-decoration: line-through;
}

.token.inserted
{
    border-bottom: 1px dotted #202746;
    text-decoration: none;;
}

.token.italic
{
    font-style: italic;
}

.token.bold,
.token.important
{
    font-weight: 700;
}

.token.important
{
    color: #c94922;
}

.token.entity
{
    cursor: help;
}

.is-marginless + span
{
    display: inline-block;
    margin-top: 4px;
}
